.gift {
  background-image: url("../img/gift.svg");
  background-repeat: no-repeat;
  background-position: top 32px left 3px;

  @media (min-width: @tablet-width) {
    background-position: top 44px left 3px;
    order: 6;
    margin-top: 12px;
  }
}
